/* styles.css */
a.customLink {
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

a.customLink:hover {
    text-decoration: underline;
}

a.customLink:active {
    color: #CCCCCC;
}

a.customLink:visited {
    color: #DDDDDD;
}
