openapi: 3.0.1
info:
  title: W3GPT
  description: This API allows users to interact (read) with deployed Solidity smart contracts on Ethereum Virtual Machine (EVM) compatible blockchains as well as deploy Solidity smart contracts to EVM-compatible blockchains.
  version: "1.0.0"
servers:
  - url: https://w3gpt.ai
paths:
  /api/deploy-contract:
    post:
      operationId: deploySmartContract
      summary: Deploy a Solidity smart contract to specified EVM-compatible blockchains.
      description: This endpoint deploys a Solidity smart contract (version 0.8.20 or greater) to one or more EVM-compatible blockchains. It requires the contract's name, source code, target blockchains, and constructor arguments (if any).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployContractRequest"
      responses:
        "200":
          description: The contract was successfully deployed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
  /api/read-contract:
    post:
      operationId: readFromContract
      summary: Read from a deployed smart contract on specified EVM-compatible blockchains.
      description: This endpoint performs read operations on a deployed Solidity smart contract on an EVM-compatible blockchain. It requires the chain name, contract's address, function name, and function arguments (if any).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadContractRequest"
      responses:
        "200":
          description: The operation was performed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadContractResponse"
  /api/fetch-abi:
    post:
      operationId: fetchAbi
      summary: Fetch the ABI of a deployed smart contract on a specified EVM-compatible blockchain.
      description: This endpoint fetches the Application Binary Interface (ABI) of a deployed Solidity smart contract on an EVM-compatible blockchain. It requires the chain name and the contract's address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchAbiRequest"
      responses:
        "200":
          description: The operation was performed successfully, and the ABI was fetched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchAbiResponse"
        "400":
          description: The request was invalid, e.g., missing required parameters.
        "404":
          description: The specified chain or contract was not found.

components:
  schemas:
    Contract:
      type: object
      required:
        - name
        - address
        - chain
        - sourceCode
      properties:
        name:
          type: string
          description: The name of the smart contract. This should only contain letters and should not have spaces or special characters.
        address:
          type: string
          description: The blockchain address where the smart contract is deployed.
        chain:
          type: string
          description: The name of the blockchain network where the smart contract is deployed.
        sourceCode:
          type: string
          description: The Solidity source code of the smart contract. The Solidity version must be 0.8.20 or greater.
        constructorArgs:
          type: array
          items:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          description: An array of arguments that were passed to the smart contract's constructor during deployment. Each argument can be a string or an array of strings.
    DeployContractRequest:
      type: object
      required:
        - name
        - chains
        - sourceCode
        - constructorArgs
      properties:
        name:
          type: string
          description: The name of the smart contract to be deployed. This should only contain letters and should not have spaces or special characters.
        chains:
          type: array
          items:
            type: string
          description: An array of blockchain network names to which the smart contract will be deployed. These names should not contain special characters.
        sourceCode:
          type: string
          description: The Solidity source code of the smart contract to be deployed. The Solidity version must be 0.8.20 or greater.
        constructorArgs:
          type: array
          items:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          description: An array of arguments to be passed to the smart contract's constructor during deployment. Each argument can be a string or an array of strings. If there are no constructor arguments, an empty array [] must be provided.
    ReadContractRequest:
      type: object
      required:
        - chain
        - requests
      properties:
        chain:
          type: string
          description: The name of the blockchain network where the contract operations will be performed.
        requests:
          type: array
          items:
            type: object
            required:
              - address
              - functionName
              - functionArgs
            properties:
              address:
                type: string
                description: The blockchain address where the smart contract is deployed.
              functionName:
                type: string
                description: The name of the contract function to be called.
              functionArgs:
                type: array
                items:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                description: An array of arguments to be passed to the contract's function. Each argument can be a string or an array of strings. If there are no function arguments, an empty array [] must be provided.
    ReadContractResponse:
      type: array
      items:
        type: object
        required:
          - status
        properties:
          status:
            type: string
            enum: ["success", "error"]
            description: The status of the operation. "success" if the operation was successful, "error" if there was an error.
          data:
            type: object
            description: The result of the operation if it was successful.
          message:
            type: string
            description: The error message if the operation was not successful.
    FetchAbiRequest:
      type: object
      required:
        - chain
        - address
      properties:
        chain:
          type: string
          description: The name of the blockchain network where the contract is deployed.
        address:
          type: string
          description: The blockchain address where the smart contract is deployed.
    FetchAbiResponse:
      type: object
       properties:
        abi:
          type: array
          items:
            type: object
          description: The Application Binary Interface (ABI) of the smart contract.