openapi: 3.0.1
info:
  title: WEB3GPT Contract Interactor API
  description: This API allows users to interact (read) with deployed Solidity smart contracts on Ethereum Virtual Machine (EVM) compatible blockchains. 
  version: "1.0.0"
servers:
  - url: https://w3gpt.ai
paths:
  /api/read-contract:
    post:
      operationId: readFromContract
      summary: Read from a deployed smart contract on specified EVM-compatible blockchains.
      description: This endpoint performs read operations on a deployed Solidity smart contract on an EVM-compatible blockchain. It requires the chain name, contract's address, function name, and function arguments (if any).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadContractRequest"
      responses:
        "200":
          description: The operation was performed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadContractResponse"
components:
  schemas:
    ReadContractRequest:
      type: object
      required:
        - chain
        - requests
      properties:
        chain:
          type: string
          description: The name of the blockchain network where the contract operations will be performed.
        requests:
          type: array
          items:
            type: object
            required:
              - type
              - address
              - functionName
              - functionArgs
            properties:
              type:
                type: string
                enum: ["read"]
                description: The operation type. "read" to read data from the contract.
              address:
                type: string
                description: The blockchain address where the smart contract is deployed.
              functionName:
                type: string
                description: The name of the contract function to be called.
              functionArgs:
                type: array
                items:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                description: An array of arguments to be passed to the contract's function. Each argument can be a string or an array of strings. If there are no function arguments, an empty array [] must be provided.
    ReadContractResponse:
      type: array
      items:
        type: object
        required:
          - status
        properties:
          status:
            type: string
            enum: ["success", "error"]
            description: The status of the operation. "success" if the operation was successful, "error" if there was an error.
          data:
            type: object
            description: The result of the operation if it was successful.
          message:
            type: string
            description: The error message if the operation was not successful.
