@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 100% 98.4%;
    --foreground: 15.3 54.2% 72.5%;

    --muted: 280 20% 95%;
    --muted-foreground: 280 100% 40%;

    --popover: 60 50% 98%;
    --popover-foreground: 240 100% 20%;

    --card: 30 50% 98%;
    --card-foreground: 210 100% 20%;

    --border: 120 50% 80%;
    --input: 300 50% 95%;

    --primary: 260 80% 50%;
    --primary-foreground: 60 100% 40%;

    --secondary: 140 80% 50%;
    --secondary-foreground: 340 100% 40%;

    --accent: 20 100% 50%;
    --accent-foreground: 200 100% 40%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 180 100% 40%;

    --ring: 280 50% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 15% 15%;
    --foreground: 190 5% 80%;

    --muted: 280 15% 25%;
    --muted-foreground: 280 15% 75%;

    --popover: 210 15% 15%;
    --popover-foreground: 60 15% 80%;

    --card: 200 15% 20%;
    --card-foreground: 30 15% 75%;

    --border: 120 15% 35%;
    --input: 300 15% 25%;

    --primary: 260 30% 45%;
    --primary-foreground: 60 20% 65%;

    --secondary: 340 30% 45%;
    --secondary-foreground: 140 20% 65%;

    --accent: 180 50% 45%;
    --accent-foreground: 20 20% 65%;

    --destructive: 0 50% 45%;
    --destructive-foreground: 180 20% 65%;

    --ring: 280 15% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}