@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 95%;
    --foreground: 200, 27%, 9%;

    --muted: 210 17% 98%;
    --muted-foreground: 204, 7%, 43%;

    --popover: 60 50% 98%;
    --popover-foreground: 240 100% 20%;

    --card: 30 50% 98%;
    --card-foreground: 210 100% 20%;

    --border: 216, 11%, 91%;
    --input: 300 50% 95%;

    --primary: 119, 62%, 34%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 140 80% 50%;
    --secondary-foreground: 340 100% 40%;

    --accent: 0, 0%, 100%;
    --accent-foreground: 204, 7%, 43%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 180 100% 40%;

    --ring: 280 50% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 10%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 11%;
    --muted-foreground: 0 0 100%;

    --popover: 210 15% 15%;
    --popover-foreground: 60 15% 80%;

    --card: 200 15% 20%;
    --card-foreground: 30 15% 75%;

    --border: 0, 0%, 24%;
    --input: 159, 96%, 40%;

    --primary: 160, 100%, 45%;
    --primary-foreground: 0 0% 0%;

    --secondary: 340 30% 45%;
    --secondary-foreground: 140 20% 65%;

    --accent: 0, 0%, 14%;
    --accent-foreground: 160, 100%, 45%;

    --destructive: 0 50% 45%;
    --destructive-foreground: 180 20% 65%;

    --ring: 280 15% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}